body {
  margin: 0px;
  font-family: "PT Sans Narrow", sans-serif;
}

#map-content {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute !important;
}

#panel {
  position: absolute;
  height: 90%;
  width: 250px;
  background-color: white;
  top: 2%;
  right: 2%;
  z-index: 999;
  padding-left: 15px;
  opacity: 0.95;
  border: 15px solid white;
  border-opacity: 0;
  font-size: 80%;
}

.textarea-rules {
  width: 340px;
  font-size: 10px;
  margin-left: 4px;
}

.marker-cluster {
  opacity: 1 !important;
}

.active-cluster-element {
  opacity: 0.2;
}

.select-row {
  margin-top: 4px;
  margin-bottom: 1px;
  margin-left: 5px;
}

.leaflet-popup-pane {
  z-index: 1700;
}

h4 {
  margin-bottom: 2px;
}

select {
  margin-left: 5px;
}

.leaflet-control-zoom-display {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  padding-top: 0.3em;
  font: bold 12px/20px Tahoma, Verdana, sans-serif;
}

.leaflet-grid-cells-pane-pane {
  mix-blend-mode: multiply;
}

/* markercluster */

.marker-cluster {
  background-color: rgba(177, 0, 38, 0.6);
  background-clip: padding-box;
  border-radius: 20px;
}
.marker-cluster div {
  background-color: rgba(177, 0, 38, 0.6);
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  color: white;

  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster span {
  line-height: 30px;
}

.leaflet-cluster-anim .leaflet-marker-icon,
.leaflet-cluster-anim .leaflet-marker-shadow {
  -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
  transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
  /* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
  -webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out,
    -webkit-stroke-opacity 0.3s ease-in;
  -moz-transition: -moz-stroke-dashoffset 0.3s ease-out,
    -moz-stroke-opacity 0.3s ease-in;
  -o-transition: -o-stroke-dashoffset 0.3s ease-out,
    -o-stroke-opacity 0.3s ease-in;
  transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}
